/* HELP BUTTON ******/
.HELPbutton {
    font-family: arial;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #4554DE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(top,  #63B8EE,  #468CCF);
    background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
    background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}
.HELPbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(top,  #468CCF,  #63B8EE);
    background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}

/* Popup Stuff */

.box {

    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 30ms ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 5ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    color: black;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}